<h2>Schedule</h2>
<h1><%= @event.name %></h1>

<% if @schedule_errors && !@schedule_errors.empty? %>
  <p>
    There are a few minor problems with your schedule:
  </p>
  <%= render partial: 'application/errors', object: @schedule_errors %>
<% end %>

<div class="blocks">
  <% @blocks.each do |block| %>
    <div class="block row">
      <div class="columns small-12 medium-6 medium-centered">
        <h4>Date: <%= format_time(block.start_time, block.time_zone, :date_only) %></h4>
        <table>
          <tr>
            <th>Time</th>
            <th>People</th>
          </tr>
          <% block.slots.each do |slot| %>
            <tr>
              <td class="time"><%= format_time(slot.start_time, slot.time_zone, :time_only) %></td>
              <td class="slot" id="slot_<%= slot.id %>" data-id="<%= slot.id %>">
                <ul>
                  <% slot.people.each do |person| %>
                    <li>
                      <div class="person" id="person_<%= person.id %>" data-id="<%= person.id %>" data-current-slot-id="<%= slot.id %>">
                        <%= person.email %>
                      </div>
                    </li>
                  <% end %>
                </ul>
            </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>

<h2>Send Invites</h2>
<p>
  Does this schedule look good? If so, click the button below to send the invites. This cannot be undone. Please only click the button if you are sure you are ready to send invites.
</p>
<%= button_to "Send Schedule Invites", event_google_calendars_path(@event), method: 'POST', class: 'button alert', id: 'send-invites-button' %>
