<% if current_user %>
  <div class="row events-and-groups">
    <div class="columns small-12 medium-6">
      <h2>Events</h2>
      <% if @events.empty? %>
        <p>
          No events have been created.
        </p>
        <%= button_to "Create an Event", new_event_path, class: "button" %>
      <% end %>
      <ul>
        <% @events.each do |event| %>
          <li><%= link_to event.name, event_path(event) %></li>
        <% end %>
      </ul>
    </div>
    <div class="columns small-12 medium-6">
      <h2>Groups</h2>
      <% if @groups.empty? %>
        <p>
          No groups have been created.
        </p>
        <%= button_to "Create a Group", new_group_path, class: "button" %>
      <% end %>
      <ul>
        <% @groups.each do |group| %>
          <li><%= link_to group.name, group_path(group) %></li>
        <% end %>
      </ul>
    </div>
  </div>

<% else %>
  <p>
    Please sign in using your Google account to start using this web app.
  </p>
  <%= button_to "Sign In", '/auth/google_oauth2', class: "button" %>
<% end %>
