<h2><%= @event.name %></h2>
<h4>Uses Group: <%= @group.name %></h4>
<h4>Slot Duration: <%= @event.slot_duration %> min</h4>
<p>
  Each available slot within each block will be <%= @event.slot_duration %> min long
</p>
<h5>You need <%= @group.members.size %> slots.</h5>
<% if slots_left_to_create == 0 %>
  You have created enough slots! You are ready to generate a schedule.
<% else %>
  You still need to create <%= slots_left_to_create %> slots. Add blocks of time below
  to increase the number of slots available.
<% end %>

<% if @blocks.empty? %>
  <p>
    There are no blocks of time. Please add some below.
  </p>
<% else %>
  <h3>Blocks of Time Available:</h3>
  <ul>
    <% @blocks.each do |block| %>
      <li class="block">
        <%= block.start_time.in_time_zone(block.time_zone) %>
        to <%= block.end_time.in_time_zone(block.time_zone) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'blocks/form' %>

<h3>Generate Schedule</h3>
<% if slots_left_to_create > 0 %>
  <p>
    You have not created enough available blocks. Add more blocks to generate a schedule.
  </p>
<% else %>
  <p>
    You have enough blocks open to generate a schedule for this group.
  </p>
<% end %>
<%= form_tag event_schedules_path(@event) do %>
  <%= label_tag "Schedule Generation Options" %>
  <%= radio_button_tag :randomization_option, 'random', true %>
  <%= radio_button_tag :randomization_option, 'order', false %>

  <%= submit_tag "Generate Schedule", class: 'button' %>
<% end %>
<%= render partial: 'application/errors', object: @schedule_errors %>
